body,html {
	margin:0;
	height:100%;
	width:100%;
    color: white;
    text-decoration: none;
}

#im {
    width: 15rem;
    margin-bottom: -15px;
}

#map {
	height: 100%;
}

#pic {
    display: block;
    text-align: center;
    margin-top: -26px;
    margin-left: -10px;
    width: 109.5%;
}

#desc {
    margin-left:8px;
    margin-right:8px;
    margin-top: 30px;
    font-size: 15px;
    line-height: 26px;
}

body {
	display: grid;
	grid-template-rows: 63px 1fr 19px;
	grid-template-columns: 350px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
    height: 100%;
    text-decoration: none;
	grid-area: header;
	top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 100%;
	color: white;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
	font-size: 2.2rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
    vertical-align: middle;
    font-family: 'Bebas Neue', cursive;
}

.header a{
    text-decoration: none;
    color: white;
}

.header a:hover{
	color: rgb(255, 255, 255);
}

.header-right a{
    text-decoration: none;
    float: right;
    font-size: 1rem;
    margin-top: -35px;
    margin-right: 40px;
    color: rgba(255, 255, 255, 0.8);
}

.header-left a{
    text-decoration: none;
    float: left;
    margin-top: -35px;
    font-size: 1rem;
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar {
    font-size: 16px;
	color: #442a34;
	grid-area: sidebar;
	padding:10px;
	overflow:-moz-hidden-unscrollable;
    line-height: 20px;
    letter-spacing: -0.02em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.sidebar-item{
	padding: 1px;
	margin: 5px;
	color:rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
	cursor: pointer; /*cursor changes to hand when hovering*/
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.sidebar-item:hover{
	color: rgb(255, 228, 146);
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
}

.content {
	grid-area: content;
    padding: 0px;
    text-align: center;
    font-family: 'Bebas Neue';
}

.container {
    text-align: left;
    background-color: rgba(0,0,0,0.2);
    width: auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    color: #442a34;
}


.main:before {
    content:'';
    position: absolute;
    width: auto;
    height: 140px;
    margin: auto;
    z-index: -1;
    left: 10px;
}

.boxinbox {
    text-align: center;
    background-color: white;
    width: auto;
}

.footer {
	grid-area: footer;
	padding:0;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	color: white;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
	font-size: 1em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
    vertical-align: middle;
    font-family: 'Bebas Neue', cursive;
}

#link {
    text-decoration: none;
    color: rgb(255, 228, 146);
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
}

#pop {
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

#event {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    margin-bottom: 0px;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
  float: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 80%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 11px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(202, 115, 0, 0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  line-height: 1;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  background-color: darkkhaki;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
