body,html {
    margin:0;
    height:100%;
    width:100%;
}

#map {
    height: 50%;
} 

body {
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar content";
}

.header {
    grid-area: header;
    padding:10px;
    background-color: rgb(115, 164, 238);
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', sans-serif;
    font-size: 150%

}

.sidebar {
    grid-area: sidebar;
    padding:10px;
    background-color: rgb(115, 164, 238);
    color: rgb(241, 246, 255);
    font-family: 'Trebuchet MS', sans-serif;
}
.content {
    grid-area: content;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 30, 68);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}